<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<% unless flash.empty? %>
  <%= render "shared/error_banner" do %>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key} d-inline" %>
    <% end %>
  <% end %>
<% end %>

<style>


.homebackground{
 background-color: #F5F7FB;
 background: url("strumenti_per_videoconferenze.jpg"); 
 background-repeat: no-repeat center top;
 background-size: cover;
 background-position: center;
 width: 100%; height: 100%; height: auto; top: 0; left: 0;
 z-index: -1;
 }
/*
.btn-outline-primary_inhome_ {
    color: #fd7822;
    background-color: fd7822;
    background-image: none;
    border-color: #fd7822;
}*/

.btn-outline-primary_inhome {
    color: #fff;
    background-color: #fd7822;
    border-color: #fd7822;
}

.btn_inhome {
     font-size: 1.2125rem;
}

.bg-whyfeats  {
    background-color: #fd7822;  !important;
}

</style>

<div class="homebackground">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-4" style="color: #467fcf;"> 
      
          <%= t("landing.welcome").html_safe %></h1>

          <h2 id="meetings" class="display-4 mb-6" style="color: #467fcf;">
            <%= t("landing.meetings").html_safe %></h2>
        
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 display-4" style="color:#f8521b; font-weight:600"><%= t("landing.about", href: link_to(t("greenlight"), "/help", target: "")).html_safe %></p>
       <%= link_to "#info", target: "" do %>      
          <h4><%= t("landing.video") %></h4>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render "shared/features" %>


<script>
var cycleImages = function(){
  var images = $('.img-cycle img');
  var now = images.filter(':visible');
  var next = now.next().length ? now.next() : images.first();
  var speed = 1500;

  now.fadeOut(speed);
  next.fadeIn(speed);
}

$(function() {
  setInterval(cycleImages, 5000);
});
</script>
