<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<footer class="footer pt-3">
  <p class="text-center mb-1">
     <%= link_to(t("footer.ht"), "http://www.tecnologie-umanistiche.it/", target: "_blank", :rel => "nofollow").html_safe %>&nbsp;&nbsp;-&nbsp;&nbsp;
     <i class="fas fa-envelope fa-1x"></i>&nbsp;&nbsp;<a href="mailto:info@tecnologie-umanistiche.it" rel="nofollow"><%= t("footer.mail") %></a>
     &nbsp;&nbsp;&nbsp;<i class="fas fa-headphones fa-1x"></i>&nbsp;&nbsp;<%= t("footer.phone")%>
  </p>

  <p class="text-center mb-1">
     <%= link_to(t("footer.terms"), "/terms").html_safe %>
     &nbsp;|&nbsp;
     <%= link_to(t("footer.privacy"), "/privacy").html_safe %>
     &nbsp;|&nbsp;
     <%= link_to(t("footer.cookies"), "/cookies").html_safe %>
     &nbsp;|&nbsp;
     <%= link_to(t("footer.faq"), "/faq").html_safe %>
     &nbsp;|&nbsp;
     <%= link_to(t("footer.contacts"), "/contatti").html_safe %>
      
     <i class="fab fa-google-plus-square fa-2x mr-4 mb-3" style="float:right"></i>
     <i class="fab fa-twitter-square fa-2x mr-1 mb-3" style="float:right"></i>
     <i class="fab fa-facebook-square fa-2x mr-1 mb-3" style="float:right"></i>
     <i class="fab fa-whatsapp-square fa-2x mr-1 mb-3" style="float:right"></i>
     <i class="fas fa-envelope-square fa-2x mr-1 mb-3" style="float:right"></i>
  </p> 


  
</footer>
