<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<% 
  currentpage = (request.path_info[1..-1]).capitalize
  case currentpage 
   when ""
     meta_title = t("meta.hometitle")
     meta_description = t("meta.homedescription")
     meta_keys = t("meta.homekeywords")
     meta_robots = "index,follow"
     meta_canonical = request.protocol + request.host_with_port + request.fullpath
   when "Privacy" , "Cookies", "Contatti", "Faq", "Help", "Informazioni", "Prezzi", "Termini"
     meta_title = t("meta.staticpagestitle") + " - " + currentpage
     meta_description = t("meta.staticpagesdescription")
     meta_keys = currentpage.capitalize + ", " + t("meta.staticpageskeywords")
     meta_robots = "index,follow"
     meta_canonical = request.protocol + request.host_with_port + request.fullpath
    else
     meta_title = t("meta.title")
     meta_description = t("meta.description")
     meta_keys = t("meta.keywords")
     meta_robots = "noindex,follow"
     meta_canonical = ""
    end 
%>


<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    
    <% # GT20190119 aggiunti meta, lasciati i meta di default csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="content-language" content="<%= t("meta.language") %>" />     
    <% # posso usare I18n.locale  ? è già inizializzato %>

    <meta name="Description" content="<%= meta_description %>" />
    <meta name="Keywords" content="<%= meta_keys %>" />
    <meta name="Robots" content="<%= meta_robots %>" />
 
    <meta name="revisit-after" content="15" />
    <meta name="author" content="HT Tecnologie Umanistiche" />
    <meta name="copyright" content="HT Tecnologie Umanistiche" />
        
    <% # <meta property="fb:app_id" content="210879388499" />  app facebook da definire per chiamami.online  %>

    <% # GT20190119 aggiunti Open Graph meta %>
		<meta property="og:title" content="<%= meta_title %>" />
		<meta property="og:description" content="<%= meta_description %>" />
		<meta property="og:type" content="website" />
	  <meta property="og:image" content="https://chiamami.online/riunioni_e_lezioni_online.jpg" />
		<meta property="og:url" content="https://chiamami.online/" />

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <% if meta_canonical != "" %>
       <link rel="canonical" href="<%= meta_canonical %>"/>
    <% end %>
    
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Global javascript variables and helpers. -->
    <script type="text/javascript">
      window.GreenLight = {};
      window.GreenLight.WEBSOCKET_HOST = "<%= ENV['WEBSOCKET_HOST'] %>"
      window.GreenLight.RELATIVE_ROOT = "<%= relative_root %>"
    </script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-background" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
    <%= render "shared/header" %>

     <% # GT20190119 aggiunto banner cookies %>
     <%= render "cookies_eu/consent_banner", link: "/cookies"%>   

    <div class="wrapper">
      <% if bigbluebutton_endpoint_default? %>
        <%= render "shared/error_banner" do %>
          <i class="fas fa-exclamation-triangle"></i> 
          <% # GT20190119 modificato link a documentazione esterna a link interno di pagina da creare %>
          <p class="d-inline"><%= t("test_install",
            href: link_to(t("docs").downcase, "/info", target: "_blank")
          ).html_safe %>
        <% end %>
      <% end %>

      <% unless Rails.configuration.banner_message.blank? %>
        <%= render "shared/error_banner" do %>
          <p class="d-inline"><%= Rails.configuration.banner_message %></p>
        <% end %>
      <% end %>


      <%= yield %>
      

      <% if current_user %>
        <%= render "shared/modals/create_room_modal" %>
      <% end %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
